html, body, #root {
  height: 100%;
}
main {
  height: 100%;
  margin-top: -56px;
  padding-top: 56px;
}
.spinner{
  position:absolute;
  margin:auto;
  margin-top: calc(50vh - 56px);
  margin-left: 50%;
  transform: translateY(-50%) ;
}

@media print {
  body{
    background-color: white;
  }
  button{
    display: none !important;
  }
}